.container-not-found {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
.title-not-found {
    font-size: 30px;
}
.text-not-found {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
    